/* Style for the eksternal CSS file */
body{
            background-color: bisque;
            margin:auto
            }
        h1  {
            font-family: Arial, Helvetica, sans-serif; 
            color: blueviolet; 
            size: 40px;
            text-align: center;
            }
        h2  {
            font-family: 'Courier New', Courier, monospace;
            color: blue;
            size: 30px;
            text-align: right;
            }
        p   {
            font-family: 'Times New Roman', Times, serif;
            color: brown;
            size: 20px;
            text-align: left;
        }