.p1 {
    font-size: 16px ;
    font-weight: 400 ;
    font-style: normal ;
    font-family: Arial, Helvetica, sans-serif ;
}
.p2 {
    font-size: 2em ;
    font-weight: 300 ;
    font-style: italic ;
    font-family: 'Times New Roman', Times, serif ;
}
.p3 {
    font-size: 1.1rem ;
    font-weight: bold ;
    font-style: normal ;
    font-family: 'Courier New', Courier, monospace ;
}
.p4 {
    font-size: 80% ;
    font-weight: 800 ;
    font-style: italic ;
    font-family: cursive ;
}
.p5 {
    font-size: x-large ;
    font-weight: bolder ;
    font-style: oblique ;
    font-family: fantasy ;
}